@font-face {
    font-family: "janna LT";
    src: local('janna LT') url('../fonts/janna.woff') format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "janna LT";
    src: local('janna LT') url('../fonts/janna-bold.woff') format("woff");
    font-weight: bold;
}


$family-heading:"janna LT" , "Helvetica Neue" , "sego UI" , "sans serif";
$family-content:"sans serif";