<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner component's page</title>
</head>
<body>

    <div class="component-container">
        <div class="c-banner">
            <h3 class="c-banner__title">
                go to pay
            </h3>
            <p class="c-banner__desc">
                Programming is the art of algorithm design and the craft of debugging errant code. 
            </p>
            <a href="" class="c-btn c-btn--ghost c-banner__action">find more</a>
            <i class="c-icon c-icon--flag c-banner__icon"></i>
            <i class="c-icon c-icon--cancel-circle c-banner__close"></i>
        </div>
    </div>
</body>
</html>