<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card component's page</title>
</head>
<body>

    <div class="component-container">
        <div class="c-card">
            <h3 class="c-card__title">shipment details</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action"> connect the shipment details</a>
            <p class="c-card__desc">
                Programming is the art of telling another human being what one wants the computer to do
            </p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title">shipment details</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action"> connect the shipment details</a>
        </div>
        <div class="c-card c-card--no-action">
            <h3 class="c-card__title">shipment details</h3>
            <p class="c-card__desc">
                Programming is the art of telling another human being what one wants the computer to do
            </p>
        </div>
    </div>
</body>
</html>